body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e9e4dd;
}


button .submit{
    background-color: #18dd18;
}

button .cancel{
    background-color: #e90e0e;
}