body,
section {
  border: 1px solid black;
  border-collapse: collapse;
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
article {
  margin: 1rem;
  border: 1px solid black;
  border-collapse: collapse;
}
footer {
  text-align: center;
}
h1 {
  padding-left: 0.5em;
}
form {
  width: 100%;
}
#modificarDatosAqui {
  display: flex;
  height: 12rem;
  padding: 1em;
}
select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}
#universidad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

#cambiocolor {
  display: inline-block;
  padding-bottom: 1em;
}

.rojo {
  background-color: red;
}
.verde {
  background-color: green;
}
.azul {
  background-color: blue;
}

.blanco {
  color: white;
}
.gris {
  color: gray;
}
.amarillo {
  color: yellow;
}
