* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: #1b1a19;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
main {
  margin: 1rem;
}
.main-background {
  .container-img {
    width: 100vw;
    height: 70vh;
    overflow: hidden;
  }
  .portada {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

header {
  position: absolute;
  width: 100%;
  top: 0;
}
.movie-details {
  color: #070707;
  position: absolute;
  width: 40%;
  top: 35%;
  padding: 1em;
  box-sizing: border-box;
  .moreInfo,
  .viewFilm {
    border-radius: 0.4em;
    display: inline-block;
    background-color: #504747;
    color: #ffffff;
    text-decoration: none;

    h1 {
      text-align: left;
      width: 20vw;
      margin: 0;
    }
    p {
      width: 35%;
      margin-top: 0;
    }
    .viewFilm:hover {
      opacity: 0.8;
      background-color: #000000;
    }
    .moreInfo:hover {
      opacity: 0.8;
      background-color: #000000;
    }
  }
}
nav {
  color: #ffffff;
  display: flex;
  margin: 0 auto;
  width: fit-content;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  li {
    gap: 0.2em;
    display: flex;
  }
}

nav ul li:hover {
  font-weight: bold;
}

.svgNav {
  width: 1em;
}

.container {
  color: #ffffff;
  display: flex;
  padding-top: 1em;
  justify-content: space-around;
}

.search {
  background-color: none;
  color: #000000;
}
a {
  text-decoration: none;
  color: #cecece;
}
.films {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;
}
img {
  width: 12em;
  height: 7em;
}


/* styles.css */


nav ul li {
  position: relative;
}

nav ul li .interno {
  display: block;
  text-align: center;
  text-decoration: none;
}

nav ul li .interno:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:100%;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content li {
  display: block;
}

.dropdown-content li a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content li a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}



footer {
  background-color: #000000;
  color: #cecece;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  svg {
    width: 1em;
  }
  a {
    text-decoration: none;
    color: #cecece;
  }
  li {
    display: flex;
    gap: 0.5em;
    align-items: flex-end;
  }
}
.interno {
  text-decoration: none;
  color: #ffffff;
}
span {
  font-weight: bold;
}
.copy {
  margin: 0;
  padding: 1em;
  text-align: center;
  font-size: small;
  background-color: #000000;
  color: #cecece;
}

@media screen and (max-width: 640px) {
  body {
    font-size: 70%;
  }
  .lista-nav {
    font-size: 140%;
  }
  .svgNav {
    display: none;
  }
  body {
    width: 100vw;
  }
  .main-background {
    width: 100%;
    .container-img {
      width: 100%;
      height: 70%;
      overflow: hidden;
    }
  }
  header {
    width: 100%;
  }
  .movie-details {
    color: #cecece;
    width: 90%;
    bottom: 0;
    padding-left: 1em;
    font-size: medium;
    position: relative;
    h1 {
      width: 90%;
    }
  }
  main {
    margin: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-left: 1em;
  }
}

@media screen and (max-width: 1024px) and (min-width: 641px) {
  body {
    font-size: 70%;
  }
  .lista-nav {
    font-size: 140%;
  }
  body {
    width: 100vw;
  }
  .main-background {
    box-sizing: border-box;
    width: 100%;
    .container-img {
      width: 100%;
      height: 70%;
      overflow: hidden;
    }
  }
  header {
    width: 100%;
  }
  .movie-details {
    color: #cecece;
    width: 90%;
    bottom: 0;
    padding-left: 1em;
    font-size: medium;
    position: relative;

    h1 {
      width: 90%;
    }
  }
  main {
    margin: 0;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1024px) {
  .movie-details {
    color: #cecece;
    width: 50%;
    top: 35%;
  }
}
