body {
  border: 1px solid black;
}
footer {
  border-top: 1px solid black;
  text-align: right;
}
header {
  text-align: center;
  border-bottom: 1px solid black;
}
article {
  border: 1px solid black;
  width: 45%;
  margin: 1rem;
  padding: 1rem;
}
section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
#modificado {
  display: flex;
  justify-content: center;
  align-items: center;
}
#modificador {
}
#colorFondo,
#colorTexto {
  width: 100%;
}
