.background {
  background-color: pink;
}
.columna {
  background-color: brown;
  text-align: center;
  gap: 1rem;
}
.unaColumna {
  display: block;
  background-color: aqua;
  text-align: center;
}

.dosColumnas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: blueviolet;
  text-align: center;
}

form {
  text-align: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.borde {
  border: 1px solid black;
  border-collapse: collapse;
}
